<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a asp-area="Stylists" asp-controller="Dashboard" asp-action="Index" class="nav-link active" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a>
    <a asp-area="Stylists" asp-controller="Appointments" asp-action="Index" class="nav-link" role="tab" aria-controls="v-pills-appointments">Appointments</a>
    <a asp-area="Stylists" asp-controller="Articles" asp-action="GetAllForStylist" class="nav-link" role="tab" aria-controls="v-pills-articles">Articles</a>
    <a asp-area="Stylists" asp-controller="Questions" asp-action="GetAllForStylist" class="nav-link" role="tab" aria-controls="v-pills-answers">Q&A</a>
</div>
