@using BeautySalon.Common
@{ this.ViewData["Title"] = "Home Page"; }

<section class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-10 ftco-animate text-center">
                <div class="icon">
                    <span class="flaticon-lotus"></span>
                </div>
                <h1>Welcome to @GlobalConstants.SystemName!</h1>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-primary p-3 px-5 py-4 mr-md-2" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">
                        Administration Area
                    </a>
                }
                <div class="row justify-content-center">
                    <div class="col-md-7 mb-3">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p>Go to the <a asp-controller="Home" asp-action="Chat">chat page</a>.</p>
                    </div>
                </div>
                <p>
                    <a asp-controller="Appointments" asp-action="Book" class="btn btn-primary p-3 px-5 py-4 mr-md-2">Book an Appointment!</a>
                    <a asp-controller="Quiz" asp-action="Make" class="btn btn-outline-primary p-3 px-5 py-4 ml-md-2">Make Skin Type Quiz</a>
                </p>
            </div>
        </div>
    </div>
</section>
