@{
    ViewData["Title"] = "Dashboard";
}

<partial name="_TitlePageSection" />
<section>
    <div class="row">
        <div class="col-3">
            <partial name="_NavBarAdministration" />
        </div>
        <div class="col-8">
            <h2 class="text-center">Today's Appointments</h2>
            <hr />
        </div>
    </div>
</section>
