@model BeautySalon.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{ this.ViewData["Title"] = "Wellcome to Admin's dashboard!"; }

<h1 class="text-center">@this.ViewData["Title"]</h1>
<nav class="text-center">
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Stylists" asp-action="GetAll" role="button">Stylists</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Procedures" asp-action="GetAll" role="button">Procedures</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Products" asp-action="GetAll" role="button">Products</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Brands" asp-action="GetAll" role="button">Brands</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="SkinProblems" asp-action="GetAll" role="button">Skin Problems</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="SkinTypes" asp-action="GetAll" role="button">Skin Types</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Categories" asp-action="GetAll" role="button">Categories</a>
    <a class="btn btn-outline-primary" asp-area="Administration" asp-controller="JobTypes" asp-action="GetAll" role="button">Job Types</a>


    @*<a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Articles" asp-action="GetAll" role="button">Articles</a>*@
    @*<a class="btn btn-outline-primary" asp-area="Administration" asp-controller="Appoitments" asp-action="GetAll" role="button">Appointments</a>*@
</nav>

