@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="custom-margin-identity">@ViewData["Title"]</h1>
@{

    <p>
        Thank you for your registration!
        Please check your email to confirm your account.
    </p>

}
