@using BeautySalon.Web.ViewModels.Procedures.ViewModels;
@model ProceduresByCategoriesViewModel;

<section class="ftco-section ftco-intro" style="background-image: url(/images/intro.jpg);">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Our Procedure's Categories</h2>
                </div>
                <p class="ftco-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <ul class="mt-5 do-list">
                    @foreach (var category in Model.ProceduresByCategories)
                    {
                        <li class="ftco-animate"><a asp-area="" asp-controller="Procedures" asp-action="GetProceduresByCategory" asp-route-id="@category.Id"><span class="ion-ios-checkmark-circle mr-3"></span>@category.CategoryNameToDisplay</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>