@using BeautySalon.Web.ViewModels.Procedures.ViewModels;
@model AllProcedurePrimaryViewModel;

<div class="text-center">
    <h3 class="heading-2">Other Procedures that use the product</h3>
    <partial name="_ListOfProceduresPartial" model="@Model.Procedures" />
</div>

