@{
    ViewData["Title"] = "Chat room";
}

<partial name="_TitlePageSection" />
<section>
    <div class="row">
        <div class="col-md-3">
            @if (this.User.IsInRole("Admin"))
            {
                <partial name="_NavBarAdministrationPartial" />
            }
            else
            {
                <partial name="_NavBarUserPartial" />
            }
        </div>
        <div class="col-md-9">
            <div class="container">
                <h5 class="text-center">Chat with Admin</h5>
                <div id="messagesList" style="font-size: 28px;">
                </div>
                <hr style="height: 5px;" class="bg-primary" />
                <div class="row">
                    <div id="message-holder" class="mt-3 d-flex justify-content-start">
                        <h4 class="mt-2">Message</h4>
                        <textarea class="w-75 ml-4 pl-3" rols="5" type="text" id="messageInput" placeholder="Message..."></textarea>
                    </div>
                    <button id="sendButton" class="ml-4 btn btn-primary btn-lg">Send</button>
                </div>
                <div id="user-id" class="hidden"></div>
                <div id="admin-id" class="hidden">@Model.AdminId</div>
            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.start();

        connection.on("SendMessage", function (message, userName, senderPicture) {
            var date = new Date();
            var chatInfo = `<div class="media"><div class="media-body">
                                                        <h6 class="mt-0 mb-1 color-black">${userName}</h6><p class="small mb-2"> ${message}</p></div><img id="small-pic" src="${senderPicture}" class="ml-3" alt="user-pic"></div>`;

            $("#messagesList").append(chatInfo);
        });

        connection.on("RecieveMessage", function (message, userName, senderPicture) {
            var date = new Date();
            var chatInfo = `<div class="media"><img id="small-pic" src="${senderPicture}" class="ml-3" alt="user-pic"></div>
                                                    <div class="media-body">
                                                        <h6 class="mt-0 color-black">${userName}</h6><p class="small mb-2"> ${message}</p></div>`;

            $("#messagesList").append(chatInfo);
        });

        $("#sendButton").click(function () {
            var chatMessage = $("#messageInput").val();
            var adminId = document.getElementById("admin-id").innerText;
            var userId = document.getElementById("user-id").innerText;

            var model = {
                chatMessage: chatMessage,
                userId: userId,
                adminId: adminId
            }

            console.log(model);
            debugger;
            connection.invoke("Send", model);
            //$("textarea").val("");
            //$("textarea").focus();
        });
    </script>
}
