@using BeautySalon.Web.ViewModels.Quiz.InputModels;
@model LoadQuizInputModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Skin Quiz</h1>
                <h2 class="mb-5" align="center">What Skin Type Am I?</h2>
                <h3 class="mb-5" align="center">Find out right now!</h3>
            </div>
        </div>
    </div>
</section>

<form id="form-quiz" method="post"></form>
<div class="comment-form-wrap pt-5">
    <h2 class="mb-5" align="center">Make the quiz</h2>
    <div class="bg-light p-4">
        <section id="parent-element-section">
            <div class="start-button-quiz">
                <a id="start-quiz" class="btn btn-primary p-3 px-5 py-4 mr-md-2 justify-content-center">Start quiz</a>
            </div>
            @for (var i = 0; i < @Model.Quiz.Count(); i++)
            {
                <div class="current-question" style="display:none">
                    <div id="question">
                        <div class="question">
                            <p class="question-wrap">
                                <h2 align="center">Question #@(i+1): @Model.Quiz.ToList()[i].Text</h2>
                            </p>
                        </div>
                        <ol>
                            @foreach (var answer in @Model.Quiz.ToList()[i].QuizAnswers)
                            {
                                <li class="quiz-answer">
                                    <div class="answer-wrap">
                                        <a class="btn btn-primary answer">@answer.Text</a>
                                    </div>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            }
            <div id="last-question" style="display:none">
                <div id="question">
                    <div class="question">
                        <p class="question-wrap">
                            <h2 align="center">Question #8: Would you consider your skin easily reactive></h2>
                        </p>
                    </div>
                    <ol>
                        <li class="quiz-answer">
                            <div class="answer-wrap">
                                <a class="btn btn-primary last-answer">Yes-my skin is delicate and sensitive</a>
                            </div>
                        </li>
                        <li class="quiz-answer">
                            <div class="answer-wrap">
                                <a class="btn btn-primary last-answer">No-not generally</a>
                            </div>
                        </li>

                    </ol>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts
{
    <script src="~/js/quiz.js" asp-append-version="true"></script>
    <script>quiz();</script>
}
