<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index" class="nav-link active" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a>
    <a asp-area="Administration" asp-controller="Stylists" asp-action="GetAll" class="nav-link" role="tab" aria-controls="v-pills-stylists" aria-selected="false">Stylists</a>
    <a asp-area="Administration" asp-controller="Procedures" asp-action="GetAll" class="nav-link" role="tab" aria-controls="v-pills-procedures" aria-selected="false">Procedures</a>
    <a asp-area="Administration" asp-controller="Products" asp-action="GetAll" class="nav-link" role="tab" aria-controls="v-pills-products" aria-selected="false">Products</a>
    <a asp-area="Administration" asp-controller="Comments" asp-action="GetAllFromPreviousDay" class="nav-link" role="tab" aria-controls="v-pills-comments" aria-selected="false">Comments</a>
    <a asp-area="" asp-controller="Chats" asp-action="Index" class="nav-link" role="tab" aria-controls="v-pills-comments" aria-selected="false">Chat</a>
    <a asp-area="Administration" asp-controller="HangFire" asp-action="Index" class="nav-link" role="tab" aria-controls="v-pills-comments" aria-selected="false">HangFire</a>
</div>
