<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" role="tab" aria-controls="v-pills-stylyst" aria-selected="true">Dashboard</a>
    <a class="nav-link" asp-area="Administration" asp-controller="Stylists" asp-action="GetAll" role="tab" aria-controls="v-pills-stylyst" aria-selected="true">Stylists</a>
    <a class="nav-link" asp-area="Administration" asp-controller="Procedures" asp-action="GetAll" role="tab" aria-controls="v-pills-procedures" aria-selected="false">Procedures</a>
    <a class="nav-link" asp-area="Administration" asp-controller="Products" asp-action="GetAll" role="tab" aria-controls="v-pills-procedures" aria-selected="false">Products</a>
    <a class="nav-link" asp-area="Administration" asp-controller="Comments" asp-action="GetAllFromPreviousDay" role="tab" aria-controls="v-pills-procedures" aria-selected="false">Comments</a>
</div>