@using BeautySalon.Web.ViewModels.Answers.ViewModels;
@model DetailsAnswerViewModel;

@{
    ViewData["Title"] = "Answer";
}

<section class="hero-wrap hero-wrap-2 custom-margin-identity administration" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">@ViewData["Title"]</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a asp-area="Stylists" asp-controller="Answers" asp-action="GetStylistsAllAnswers">Anwered Questions</a></span>
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <partial name="_InfoMessagePartial" />
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarStylistPartial" />
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <h2 class="text-center">Answer</h2>
                <hr />
                <partial name="_QuestionAnswerDetailsPartial" model="@Model" />
                <a asp-area="Stylists" asp-controller="Answers" asp-action="GetStylistsAllAnswers" class="btn btn-white px-4 py-3 offset-5">Back<span class="ion-ios-arrow-round-forward"></span></a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/hideShowQuestion.js" asp-append-version="true"></script>
    <script>hideShowQuestion();</script>
}