@{
    ViewData["Title"] = "Stylist's dashboard";
}

<partial name="_TitlePageSection" />
<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarStylist" />
        </div>

        <div class="col-md-9">
            <h2 class="text-center">My Appointments</h2>
            <hr />
            <div id='calendar'></div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/getCalendar.js" asp-append-version="true"></script>
    <script>getCalendar();</script>
}
