@using BeautySalon.Web.ViewModels.Procedures.ViewModels;
@model AllProcedureReviewsViewModel;

<section class="ftco-section testimony-section custom-padding-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-10 heading-section ftco-animate text-center">
                <h2 class="mb-1 heading-color">Reviews</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                @if (Model.Reviews.Count() == 0)
                {
                    <h5>There are no reviews yet!</h5>
                }
                else
                {
                    if (Model.Reviews.Count() < 4)
                    {
                        <partial name="_ReviewProcedurePartial" model="@Model.Reviews" />
                    }
                    else
                    {
                        <div class="carousel-testimony owl-carousel">
                            <partial name="_ReviewProcedurePartial" model="@Model.Reviews" />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

