<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link active" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">Dashboard</a>
    <a asp-area="" asp-controller="Clients" asp-action="GetUsersSkinInfo" class="nav-link" role="tab" aria-controls="v-pills-appointments">My Skin</a>
    <a asp-area="" asp-controller="Answers" asp-action="GetNewAnswersForUsersQuestion" class="nav-link" role="tab" aria-controls="v-pills-articles">My Q&A</a>
    <a asp-area="" asp-controller="Appointments" asp-action="GetUsersPastAppointments" class="nav-link" role="tab" aria-controls="v-pills-answers">My Appointments</a>
    <a asp-area="" asp-controller="Articles" asp-action="GetUsersFavouriteArticles" class="nav-link" role="tab" aria-controls="v-pills-answers">Favourite Articles</a>
    <a asp-area="" asp-controller="Products" asp-action="GetUsersProducts" class="nav-link" role="tab" aria-controls="v-pills-answers">Favourite Products</a>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link" role="tab" aria-controls="v-pills-answers">Edit Profile</a>
</div>