@using BeautySalon.Web.ViewModels.Administration.Cards.ViewModels;
@model AllCardsViewModel;

@{
    ViewData["Title"] = "Cards";
}

<partial name="_TitlePageSection" />

<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarAdministrationPartial" />
        </div>
        <div class="col-md-8">
            <div class="nav nav-tabs">
                <a id="active" class="nav-link active">Active Cards</a>
                <a id="expired" class="nav-link">Expired Cards</a>
            </div>

            <div id="active-cards" style="display:block">
                <h3 class="text-center">Active Cards</h3>
                <partial name="_CardsListPartial" model="Model.ActiveCards" />
            </div>
            <div id="expired-cards" style="display:none">
                <h3 class="text-center">Expired Cards</h3>
                <partial name="_CardsListPartial" model="Model.ExpiredCards" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/changeCardsInfomation.js"></script>
    <script>changeCardsInformation();</script>
}